.DS_Store
/.build
/Packages
/*.xcodeproj
Crush.xcworkspace/xcuserdata/ruhsane.xcuserdatad/UserInterfaceState.xcuserstate
Crush.xcworkspace/xcuserdata/ruhsane.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
